html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #EEB5EB;
  }

h2{
    color: #C8F4F9;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 1px #814a7e;
  }
h3{
    color: #C8F4F9;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 1px #814a7e;
  }
h4{
    color: #C8F4F9;
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 3px 1px #814a7e;
  }
h1 {
    color: #C8F4F9;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px #814a7e;
}
img {
    display: block;
    margin: 0 auto;
}
iframe{
  display: block;
  margin: 0 auto;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #C26DBC;
    padding: 0 20px 20px 20px;
    border: 5px solid #814a7e;
    display: block;
}
div{
  display: block;
  width: auto;
  margin: 0 auto;
}



li {
  float: left;
}

li#nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid black;
}

li#paynav{
  display: block;
  color: white;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 1px solid black;
}

a#nav, #donate-button-container {
  color: #C8F4F9;
  display: block;
  padding: 8px;
  text-decoration: none;
}


#donate-button-container{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 1px solid black; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #814a7e;
}

li a:hover {
  background-color: #522e50;
}


button#name{
  background-color: #814a7e;
  border: none;
  color: #C8F4F9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button#name:hover{
  background-color: #522e50;
}